doctype html
html
  head
    title New Article
  body
    form(action='/articles', method='post')
      div
        input(name='', type='text', )
      div
        input(name='', type='text', )
      div
        textarea(name='content' rows='20')
      div
        input(type='submit')
        input(type='reset')